@tailwind base;
@tailwind components;
@tailwind utilities;

.landing_hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/banner.png');
    min-height: 624px;
}